<% if(data.type === 'companyInvite') { %>
    <%- include('companyInvite.html') %>
<% } else if(data.type === 'confirmEmail') { %>
    <%- include('confirmEmail.html') %>
<% } else if(data.type === 'passwordChanged') { %>
    <%- include('passwordChanged.html') %>
<% } else if(data.type === 'projectArchived') { %>
    <%- include('projectArchived.html') %>
<% } else if(data.type === 'restore') { %>
    <%- include('restore.html') %>
<% } else if(data.type === 'teamExclude') { %>
    <%- include('teamExclude.html') %>
<% } else if(data.type === 'teamInvite') { %>
    <%- include('teamInvite.html') %>
<% } else { %>
    <%- include('common.html') %>
<% } %>
