<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="blank">
        <div class="blank__header">
            <img src="../i/logo-black.png"/>
        </div>
        <div class="blank__body">
            <div class="blank__title">Восстановление пароля</div>
            <div>Чтобы создать новый пароль, нажмите на кнопку ниже. Ваш старый пароль будет сброшен, вы будете переадресованы на страницу создания нового пароля.</div>
            <a href="<%= changePassword %>" class="button">Сбросить пароль</a>
            <div>Ссылка работает в течение 24 часов. Если ссылка недействительна, вы можете отправить повторный 
                запрос на восстановление пароля по ссылке:<br><a href="<%= recover %>" class="link">ссылка на страницу
                    восстановления пароля</a></div>
        </div>
    </div>
    <div class="contacts">
        © Buildvisor 2017<br>Юридический адрес
    </div>
</body>
</html>
